<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tourapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TouristActivity"
            android:label="@string/title_activity_tourist" >
        </activity>
        <activity
            android:name=".GuideActivity"
            android:label="@string/title_activity_guide" >
        </activity>
        <activity
            android:name=".OrganizerActivity"
            android:label="@string/title_activity_organizer" >
        </activity>
        <activity
            android:name=".AdminActivity"
            android:label="@string/title_activity_admin" >
        </activity>
        <activity
            android:name=".AdminAddTourActivity"
            android:label="@string/title_activity_admin_add_tour" >
        </activity>
        <activity
            android:name=".AdminDeleteTourActivity"
            android:label="@string/title_activity_admin_delete_tour" >
        </activity>
    </application>

</manifest>
